h1 {color:#333; background-color:#999; font-family:courier new; text-align:center; font-size:500%}
h2 {color:#333; text-align:center;}
h6 {color:#333; text-align:center; font-size:5%}
hr {color:#990000; border-width:50px; size:50px;}
body {background-color:#fff;}
